In [1]:
from google.colab import files
files.upload()

Saving Titanic.csv to Titanic.csv

{'Titanic.csv': b'sex,age,sibsp,parch,fare,embarked,class,who,alone,survived\r\nmale,22,1,0,7.25,S,Third,man,FALSE,0\r\nfemale,38,1,0,71.2833,C,First,woman,FALSE,1\r\nfemale,26,0,0,7.925,S,Third,woman,TRUE,1\r\nfemale,35,1,0,53.1,S,First,woman,FALSE,1\r\nmale,35,0,0,8.05,S,Third,man,TRUE,0\r\nmale,,0,0,8.4583,Q,Third,man,TRUE,0\r\nmale,54,0,0,51.8625,S,First,man,TRUE,0\r\nmale,2,3,1,21.075,S,Third,child,FALSE,0\r\nfemale,27,0,2,11.1333,S,Third,woman,FALSE,1\r\nfemale,14,1,0,30.0708,C,Second,child,FALSE,1\r\nfemale,4,1,1,16.7,S,Third,child,FALSE,1\r\nfemale,58,0,0,26.55,S,First,woman,TRUE,1\r\nmale,20,0,0,8.05,S,Third,man,TRUE,0\r\nmale,39,1,5,31.275,S,Third,man,FALSE,0\r\nfemale,14,0,0,7.8542,S,Third,child,TRUE,0\r\nfemale,55,0,0,16,S,Second,woman,TRUE,1\r\nmale,2,4,1,29.125,Q,Third,child,FALSE,0\r\nmale,,0,0,13,S,Second,man,TRUE,1\r\nfemale,31,1,0,18,S,Third,woman,FALSE,0\r\nfemale,,0,0,7.225,C,Third,woman,TRUE,1\r\nmale,35,0,0,26,S,Second,man,TRUE,0\r\nmale,34,0,0,13,S,Second,man,TRUE,1\r\nfemale,15,0,0,8.0292,Q,Third,child,TRUE,1\r\nmale,28,0,0,35.5,S,First,man,TRUE,1\r\nfemale,8,3,1,21.075,S,Third,child,FALSE,0\r\nfemale,38,1,5,31.3875,S,Third,woman,FALSE,1\r\nmale,,0,0,7.225,C,Third,man,TRUE,0\r\nmale,19,3,2,263,S,First,man,FALSE,0\r\nfemale,,0,0,7.8792,Q,Third,woman,TRUE,1\r\nmale,,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,40,0,0,27.7208,C,First,man,TRUE,0\r\nfemale,,1,0,146.5208,C,First,woman,FALSE,1\r\nfemale,,0,0,7.75,Q,Third,woman,TRUE,1\r\nmale,66,0,0,10.5,S,Second,man,TRUE,0\r\nmale,28,1,0,82.1708,C,First,man,FALSE,0\r\nmale,42,1,0,52,S,First,man,FALSE,0\r\nmale,,0,0,7.2292,C,Third,man,TRUE,1\r\nmale,21,0,0,8.05,S,Third,man,TRUE,0\r\nfemale,18,2,0,18,S,Third,woman,FALSE,0\r\nfemale,14,1,0,11.2417,C,Third,child,FALSE,1\r\nfemale,40,1,0,9.475,S,Third,woman,FALSE,0\r\nfemale,27,1,0,21,S,Second,woman,FALSE,0\r\nmale,,0,0,7.8958,C,Third,man,TRUE,0\r\nfemale,3,1,2,41.5792,C,Second,child,FALSE,1\r\nfemale,19,0,0,7.8792,Q,Third,woman,TRUE,1\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nmale,,1,0,15.5,Q,Third,man,FALSE,0\r\nfemale,,0,0,7.75,Q,Third,woman,TRUE,1\r\nmale,,2,0,21.6792,C,Third,man,FALSE,0\r\nfemale,18,1,0,17.8,S,Third,woman,FALSE,0\r\nmale,7,4,1,39.6875,S,Third,child,FALSE,0\r\nmale,21,0,0,7.8,S,Third,man,TRUE,0\r\nfemale,49,1,0,76.7292,C,First,woman,FALSE,1\r\nfemale,29,1,0,26,S,Second,woman,FALSE,1\r\nmale,65,0,1,61.9792,C,First,man,FALSE,0\r\nmale,,0,0,35.5,S,First,man,TRUE,1\r\nfemale,21,0,0,10.5,S,Second,woman,TRUE,1\r\nmale,28.5,0,0,7.2292,C,Third,man,TRUE,0\r\nfemale,5,1,2,27.75,S,Second,child,FALSE,1\r\nmale,11,5,2,46.9,S,Third,child,FALSE,0\r\nmale,22,0,0,7.2292,C,Third,man,TRUE,0\r\nfemale,38,0,0,80,,First,woman,TRUE,1\r\nmale,45,1,0,83.475,S,First,man,FALSE,0\r\nmale,4,3,2,27.9,S,Third,child,FALSE,0\r\nmale,,0,0,27.7208,C,First,man,TRUE,0\r\nmale,,1,1,15.2458,C,Third,man,FALSE,1\r\nfemale,29,0,0,10.5,S,Second,woman,TRUE,1\r\nmale,19,0,0,8.1583,S,Third,man,TRUE,0\r\nfemale,17,4,2,7.925,S,Third,woman,FALSE,1\r\nmale,26,2,0,8.6625,S,Third,man,FALSE,0\r\nmale,32,0,0,10.5,S,Second,man,TRUE,0\r\nfemale,16,5,2,46.9,S,Third,woman,FALSE,0\r\nmale,21,0,0,73.5,S,Second,man,TRUE,0\r\nmale,26,1,0,14.4542,C,Third,man,FALSE,0\r\nmale,32,0,0,56.4958,S,Third,man,TRUE,1\r\nmale,25,0,0,7.65,S,Third,man,TRUE,0\r\nmale,,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nmale,0.83,0,2,29,S,Second,child,FALSE,1\r\nfemale,30,0,0,12.475,S,Third,woman,TRUE,1\r\nmale,22,0,0,9,S,Third,man,TRUE,0\r\nmale,29,0,0,9.5,S,Third,man,TRUE,1\r\nfemale,,0,0,7.7875,Q,Third,woman,TRUE,1\r\nmale,28,0,0,47.1,S,First,man,TRUE,0\r\nfemale,17,0,0,10.5,S,Second,woman,TRUE,1\r\nfemale,33,3,0,15.85,S,Third,woman,FALSE,1\r\nmale,16,1,3,34.375,S,Third,man,FALSE,0\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nfemale,23,3,2,263,S,First,woman,FALSE,1\r\nmale,24,0,0,8.05,S,Third,man,TRUE,0\r\nmale,29,0,0,8.05,S,Third,man,TRUE,0\r\nmale,20,0,0,7.8542,S,Third,man,TRUE,0\r\nmale,46,1,0,61.175,S,First,man,FALSE,0\r\nmale,26,1,2,20.575,S,Third,man,FALSE,0\r\nmale,59,0,0,7.25,S,Third,man,TRUE,0\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nmale,71,0,0,34.6542,C,First,man,TRUE,0\r\nmale,23,0,1,63.3583,C,First,man,FALSE,1\r\nfemale,34,0,1,23,S,Second,woman,FALSE,1\r\nmale,34,1,0,26,S,Second,man,FALSE,0\r\nfemale,28,0,0,7.8958,S,Third,woman,TRUE,0\r\nmale,,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,21,0,1,77.2875,S,First,man,FALSE,0\r\nmale,33,0,0,8.6542,S,Third,man,TRUE,0\r\nmale,37,2,0,7.925,S,Third,man,FALSE,0\r\nmale,28,0,0,7.8958,S,Third,man,TRUE,0\r\nfemale,21,0,0,7.65,S,Third,woman,TRUE,1\r\nmale,,0,0,7.775,S,Third,man,TRUE,1\r\nmale,38,0,0,7.8958,S,Third,man,TRUE,0\r\nfemale,,1,0,24.15,Q,Third,woman,FALSE,1\r\nmale,47,0,0,52,S,First,man,TRUE,0\r\nfemale,14.5,1,0,14.4542,C,Third,child,FALSE,0\r\nmale,22,0,0,8.05,S,Third,man,TRUE,0\r\nfemale,20,1,0,9.825,S,Third,woman,FALSE,0\r\nfemale,17,0,0,14.4583,C,Third,woman,TRUE,0\r\nmale,21,0,0,7.925,S,Third,man,TRUE,0\r\nmale,70.5,0,0,7.75,Q,Third,man,TRUE,0\r\nmale,29,1,0,21,S,Second,man,FALSE,0\r\nmale,24,0,1,247.5208,C,First,man,FALSE,0\r\nfemale,2,4,2,31.275,S,Third,child,FALSE,0\r\nmale,21,2,0,73.5,S,Second,man,FALSE,0\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nmale,32.5,1,0,30.0708,C,Second,man,FALSE,0\r\nfemale,32.5,0,0,13,S,Second,woman,TRUE,1\r\nmale,54,0,1,77.2875,S,First,man,FALSE,0\r\nmale,12,1,0,11.2417,C,Third,child,FALSE,1\r\nmale,,0,0,7.75,Q,Third,man,TRUE,0\r\nmale,24,0,0,7.1417,S,Third,man,TRUE,1\r\nfemale,,1,1,22.3583,C,Third,woman,FALSE,1\r\nmale,45,0,0,6.975,S,Third,man,TRUE,0\r\nmale,33,0,0,7.8958,C,Third,man,TRUE,0\r\nmale,20,0,0,7.05,S,Third,man,TRUE,0\r\nfemale,47,1,0,14.5,S,Third,woman,FALSE,0\r\nfemale,29,1,0,26,S,Second,woman,FALSE,1\r\nmale,25,0,0,13,S,Second,man,TRUE,0\r\nmale,23,0,0,15.0458,C,Second,man,TRUE,0\r\nfemale,19,0,2,26.2833,S,First,woman,FALSE,1\r\nmale,37,1,0,53.1,S,First,man,FALSE,0\r\nmale,16,0,0,9.2167,S,Third,man,TRUE,0\r\nmale,24,0,0,79.2,C,First,man,TRUE,0\r\nfemale,,0,2,15.2458,C,Third,woman,FALSE,0\r\nfemale,22,0,0,7.75,S,Third,woman,TRUE,1\r\nfemale,24,1,0,15.85,S,Third,woman,FALSE,1\r\nmale,19,0,0,6.75,Q,Third,man,TRUE,0\r\nmale,18,0,0,11.5,S,Second,man,TRUE,0\r\nmale,19,1,1,36.75,S,Second,man,FALSE,0\r\nmale,27,0,0,7.7958,S,Third,man,TRUE,1\r\nfemale,9,2,2,34.375,S,Third,child,FALSE,0\r\nmale,36.5,0,2,26,S,Second,man,FALSE,0\r\nmale,42,0,0,13,S,Second,man,TRUE,0\r\nmale,51,0,0,12.525,S,Second,man,TRUE,0\r\nfemale,22,1,0,66.6,S,First,woman,FALSE,1\r\nmale,55.5,0,0,8.05,S,Third,man,TRUE,0\r\nmale,40.5,0,2,14.5,S,Third,man,FALSE,0\r\nmale,,0,0,7.3125,S,Third,man,TRUE,0\r\nmale,51,0,1,61.3792,C,First,man,FALSE,0\r\nfemale,16,0,0,7.7333,Q,Third,woman,TRUE,1\r\nmale,30,0,0,8.05,S,Third,man,TRUE,0\r\nmale,,0,0,8.6625,S,Third,man,TRUE,0\r\nmale,,8,2,69.55,S,Third,man,FALSE,0\r\nmale,44,0,1,16.1,S,Third,man,FALSE,0\r\nfemale,40,0,0,15.75,S,Second,woman,TRUE,1\r\nmale,26,0,0,7.775,S,Third,man,TRUE,0\r\nmale,17,0,0,8.6625,S,Third,man,TRUE,0\r\nmale,1,4,1,39.6875,S,Third,child,FALSE,0\r\nmale,9,0,2,20.525,S,Third,child,FALSE,1\r\nfemale,,0,1,55,S,First,woman,FALSE,1\r\nfemale,45,1,4,27.9,S,Third,woman,FALSE,0\r\nmale,,0,0,25.925,S,First,man,TRUE,0\r\nmale,28,0,0,56.4958,S,Third,man,TRUE,0\r\nmale,61,0,0,33.5,S,First,man,TRUE,0\r\nmale,4,4,1,29.125,Q,Third,child,FALSE,0\r\nfemale,1,1,1,11.1333,S,Third,child,FALSE,1\r\nmale,21,0,0,7.925,S,Third,man,TRUE,0\r\nmale,56,0,0,30.6958,C,First,man,TRUE,0\r\nmale,18,1,1,7.8542,S,Third,man,FALSE,0\r\nmale,,3,1,25.4667,S,Third,man,FALSE,0\r\nfemale,50,0,0,28.7125,C,First,woman,TRUE,0\r\nmale,30,0,0,13,S,Second,man,TRUE,0\r\nmale,36,0,0,0,S,Third,man,TRUE,0\r\nfemale,,8,2,69.55,S,Third,woman,FALSE,0\r\nmale,,0,0,15.05,C,Second,man,TRUE,0\r\nmale,9,4,2,31.3875,S,Third,child,FALSE,0\r\nmale,1,2,1,39,S,Second,child,FALSE,1\r\nfemale,4,0,2,22.025,S,Third,child,FALSE,1\r\nmale,,0,0,50,S,First,man,TRUE,0\r\nfemale,,1,0,15.5,Q,Third,woman,FALSE,1\r\nmale,45,0,0,26.55,S,First,man,TRUE,1\r\nmale,40,1,1,15.5,Q,Third,man,FALSE,0\r\nmale,36,0,0,7.8958,S,Third,man,TRUE,0\r\nfemale,32,0,0,13,S,Second,woman,TRUE,1\r\nmale,19,0,0,13,S,Second,man,TRUE,0\r\nfemale,19,1,0,7.8542,S,Third,woman,FALSE,1\r\nmale,3,1,1,26,S,Second,child,FALSE,1\r\nfemale,44,0,0,27.7208,C,First,woman,TRUE,1\r\nfemale,58,0,0,146.5208,C,First,woman,TRUE,1\r\nmale,,0,0,7.75,Q,Third,man,TRUE,0\r\nmale,42,0,1,8.4042,S,Third,man,FALSE,0\r\nfemale,,0,0,7.75,Q,Third,woman,TRUE,1\r\nfemale,24,0,0,13,S,Second,woman,TRUE,0\r\nmale,28,0,0,9.5,S,Third,man,TRUE,0\r\nmale,,8,2,69.55,S,Third,man,FALSE,0\r\nmale,34,0,0,6.4958,S,Third,man,TRUE,0\r\nmale,45.5,0,0,7.225,C,Third,man,TRUE,0\r\nmale,18,0,0,8.05,S,Third,man,TRUE,1\r\nfemale,2,0,1,10.4625,S,Third,child,FALSE,0\r\nmale,32,1,0,15.85,S,Third,man,FALSE,0\r\nmale,26,0,0,18.7875,C,Third,man,TRUE,1\r\nfemale,16,0,0,7.75,Q,Third,woman,TRUE,1\r\nmale,40,0,0,31,C,First,man,TRUE,1\r\nmale,24,0,0,7.05,S,Third,man,TRUE,0\r\nfemale,35,0,0,21,S,Second,woman,TRUE,1\r\nmale,22,0,0,7.25,S,Third,man,TRUE,0\r\nmale,30,0,0,13,S,Second,man,TRUE,0\r\nmale,,1,0,7.75,Q,Third,man,FALSE,0\r\nfemale,31,1,0,113.275,C,First,woman,FALSE,1\r\nfemale,27,0,0,7.925,S,Third,woman,TRUE,1\r\nmale,42,1,0,27,S,Second,man,FALSE,0\r\nfemale,32,0,0,76.2917,C,First,woman,TRUE,1\r\nmale,30,0,0,10.5,S,Second,man,TRUE,0\r\nmale,16,0,0,8.05,S,Third,man,TRUE,1\r\nmale,27,0,0,13,S,Second,man,TRUE,0\r\nmale,51,0,0,8.05,S,Third,man,TRUE,0\r\nmale,,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,38,1,0,90,S,First,man,FALSE,1\r\nmale,22,0,0,9.35,S,Third,man,TRUE,0\r\nmale,19,0,0,10.5,S,Second,man,TRUE,1\r\nmale,20.5,0,0,7.25,S,Third,man,TRUE,0\r\nmale,18,0,0,13,S,Second,man,TRUE,0\r\nfemale,,3,1,25.4667,S,Third,woman,FALSE,0\r\nfemale,35,1,0,83.475,S,First,woman,FALSE,1\r\nmale,29,0,0,7.775,S,Third,man,TRUE,0\r\nmale,59,0,0,13.5,S,Second,man,TRUE,0\r\nfemale,5,4,2,31.3875,S,Third,child,FALSE,1\r\nmale,24,0,0,10.5,S,Second,man,TRUE,0\r\nfemale,,0,0,7.55,S,Third,woman,TRUE,0\r\nmale,44,1,0,26,S,Second,man,FALSE,0\r\nfemale,8,0,2,26.25,S,Second,child,FALSE,1\r\nmale,19,0,0,10.5,S,Second,man,TRUE,0\r\nmale,33,0,0,12.275,S,Second,man,TRUE,0\r\nfemale,,1,0,14.4542,C,Third,woman,FALSE,0\r\nfemale,,1,0,15.5,Q,Third,woman,FALSE,1\r\nmale,29,0,0,10.5,S,Second,man,TRUE,0\r\nmale,22,0,0,7.125,S,Third,man,TRUE,0\r\nmale,30,0,0,7.225,C,Third,man,TRUE,0\r\nmale,44,2,0,90,Q,First,man,FALSE,0\r\nfemale,25,0,0,7.775,S,Third,woman,TRUE,0\r\nfemale,24,0,2,14.5,S,Second,woman,FALSE,1\r\nmale,37,1,1,52.5542,S,First,man,FALSE,1\r\nmale,54,1,0,26,S,Second,man,FALSE,0\r\nmale,,0,0,7.25,S,Third,man,TRUE,0\r\nfemale,29,1,1,10.4625,S,Third,woman,FALSE,0\r\nmale,62,0,0,26.55,S,First,man,TRUE,0\r\nmale,30,1,0,16.1,S,Third,man,FALSE,0\r\nfemale,41,0,2,20.2125,S,Third,woman,FALSE,0\r\nfemale,29,0,2,15.2458,C,Third,woman,FALSE,1\r\nfemale,,0,0,79.2,C,First,woman,TRUE,1\r\nfemale,30,0,0,86.5,S,First,woman,TRUE,1\r\nfemale,35,0,0,512.3292,C,First,woman,TRUE,1\r\nfemale,50,0,1,26,S,Second,woman,FALSE,1\r\nmale,,0,0,7.75,Q,Third,man,TRUE,0\r\nmale,3,4,2,31.3875,S,Third,child,FALSE,1\r\nmale,52,1,1,79.65,S,First,man,FALSE,0\r\nmale,40,0,0,0,S,First,man,TRUE,0\r\nfemale,,0,0,7.75,Q,Third,woman,TRUE,0\r\nmale,36,0,0,10.5,S,Second,man,TRUE,0\r\nmale,16,4,1,39.6875,S,Third,man,FALSE,0\r\nmale,25,1,0,7.775,S,Third,man,FALSE,1\r\nfemale,58,0,1,153.4625,S,First,woman,FALSE,1\r\nfemale,35,0,0,135.6333,S,First,woman,TRUE,1\r\nmale,,0,0,31,S,First,man,TRUE,0\r\nmale,25,0,0,0,S,Third,man,TRUE,1\r\nfemale,41,0,1,19.5,S,Second,woman,FALSE,1\r\nmale,37,0,1,29.7,C,First,man,FALSE,0\r\nfemale,,0,0,7.75,Q,Third,woman,TRUE,1\r\nfemale,63,1,0,77.9583,S,First,woman,FALSE,1\r\nfemale,45,0,0,7.75,S,Third,woman,TRUE,0\r\nmale,,0,0,0,S,Second,man,TRUE,0\r\nmale,7,4,1,29.125,Q,Third,child,FALSE,0\r\nfemale,35,1,1,20.25,S,Third,woman,FALSE,1\r\nmale,65,0,0,7.75,Q,Third,man,TRUE,0\r\nmale,28,0,0,7.8542,S,Third,man,TRUE,0\r\nmale,16,0,0,9.5,S,Third,man,TRUE,0\r\nmale,19,0,0,8.05,S,Third,man,TRUE,1\r\nmale,,0,0,26,S,First,man,TRUE,0\r\nmale,33,0,0,8.6625,C,Third,man,TRUE,0\r\nmale,30,0,0,9.5,S,Third,man,TRUE,1\r\nmale,22,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,42,0,0,13,S,Second,man,TRUE,1\r\nfemale,22,0,0,7.75,Q,Third,woman,TRUE,1\r\nfemale,26,0,0,78.85,S,First,woman,TRUE,1\r\nfemale,19,1,0,91.0792,C,First,woman,FALSE,1\r\nmale,36,0,0,12.875,C,Second,man,TRUE,0\r\nfemale,24,0,0,8.85,S,Third,woman,TRUE,0\r\nmale,24,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,,0,0,27.7208,C,First,man,TRUE,0\r\nmale,23.5,0,0,7.2292,C,Third,man,TRUE,0\r\nfemale,2,1,2,151.55,S,First,child,FALSE,0\r\nmale,,0,0,30.5,S,First,man,TRUE,1\r\nfemale,50,0,1,247.5208,C,First,woman,FALSE,1\r\nfemale,,0,0,7.75,Q,Third,woman,TRUE,1\r\nmale,,2,0,23.25,Q,Third,man,FALSE,1\r\nmale,19,0,0,0,S,Third,man,TRUE,0\r\nfemale,,0,0,12.35,Q,Second,woman,TRUE,1\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nmale,0.92,1,2,151.55,S,First,child,FALSE,1\r\nfemale,,0,0,110.8833,C,First,woman,TRUE,1\r\nfemale,17,1,0,108.9,C,First,woman,FALSE,1\r\nmale,30,1,0,24,C,Second,man,FALSE,0\r\nfemale,30,0,0,56.9292,C,First,woman,TRUE,1\r\nfemale,24,0,0,83.1583,C,First,woman,TRUE,1\r\nfemale,18,2,2,262.375,C,First,woman,FALSE,1\r\nfemale,26,1,1,26,S,Second,woman,FALSE,0\r\nmale,28,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,43,1,1,26.25,S,Second,man,FALSE,0\r\nfemale,26,0,0,7.8542,S,Third,woman,TRUE,1\r\nfemale,24,1,0,26,S,Second,woman,FALSE,1\r\nmale,54,0,0,14,S,Second,man,TRUE,0\r\nfemale,31,0,2,164.8667,S,First,woman,FALSE,1\r\nfemale,40,1,1,134.5,C,First,woman,FALSE,1\r\nmale,22,0,0,7.25,S,Third,man,TRUE,0\r\nmale,27,0,0,7.8958,S,Third,man,TRUE,0\r\nfemale,30,0,0,12.35,Q,Second,woman,TRUE,1\r\nfemale,22,1,1,29,S,Second,woman,FALSE,1\r\nmale,,8,2,69.55,S,Third,man,FALSE,0\r\nfemale,36,0,0,135.6333,C,First,woman,TRUE,1\r\nmale,61,0,0,6.2375,S,Third,man,TRUE,0\r\nfemale,36,0,0,13,S,Second,woman,TRUE,1\r\nfemale,31,1,1,20.525,S,Third,woman,FALSE,1\r\nfemale,16,0,1,57.9792,C,First,woman,FALSE,1\r\nfemale,,2,0,23.25,Q,Third,woman,FALSE,1\r\nmale,45.5,0,0,28.5,S,First,man,TRUE,0\r\nmale,38,0,1,153.4625,S,First,man,FALSE,0\r\nmale,16,2,0,18,S,Third,man,FALSE,0\r\nfemale,,1,0,133.65,S,First,woman,FALSE,1\r\nmale,,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,29,1,0,66.6,S,First,man,FALSE,0\r\nfemale,41,0,0,134.5,C,First,woman,TRUE,1\r\nmale,45,0,0,8.05,S,Third,man,TRUE,1\r\nmale,45,0,0,35.5,S,First,man,TRUE,0\r\nmale,2,1,1,26,S,Second,child,FALSE,1\r\nfemale,24,3,2,263,S,First,woman,FALSE,1\r\nmale,28,0,0,13,S,Second,man,TRUE,0\r\nmale,25,0,0,13,S,Second,man,TRUE,0\r\nmale,36,0,0,13,S,Second,man,TRUE,0\r\nfemale,24,0,0,13,S,Second,woman,TRUE,1\r\nfemale,40,0,0,13,S,Second,woman,TRUE,1\r\nfemale,,1,0,16.1,S,Third,woman,FALSE,1\r\nmale,3,1,1,15.9,S,Third,child,FALSE,1\r\nmale,42,0,0,8.6625,S,Third,man,TRUE,0\r\nmale,23,0,0,9.225,S,Third,man,TRUE,0\r\nmale,,0,0,35,S,First,man,TRUE,0\r\nmale,15,1,1,7.2292,C,Third,child,FALSE,0\r\nmale,25,1,0,17.8,S,Third,man,FALSE,0\r\nmale,,0,0,7.225,C,Third,man,TRUE,0\r\nmale,28,0,0,9.5,S,Third,man,TRUE,0\r\nfemale,22,0,1,55,S,First,woman,FALSE,1\r\nfemale,38,0,0,13,S,Second,woman,TRUE,0\r\nfemale,,0,0,7.8792,Q,Third,woman,TRUE,1\r\nfemale,,0,0,7.8792,Q,Third,woman,TRUE,1\r\nmale,40,1,4,27.9,S,Third,man,FALSE,0\r\nmale,29,1,0,27.7208,C,Second,man,FALSE,0\r\nfemale,45,0,1,14.4542,C,Third,woman,FALSE,0\r\nmale,35,0,0,7.05,S,Third,man,TRUE,0\r\nmale,,1,0,15.5,Q,Third,man,FALSE,0\r\nmale,30,0,0,7.25,S,Third,man,TRUE,0\r\nfemale,60,1,0,75.25,C,First,woman,FALSE,1\r\nfemale,,0,0,7.2292,C,Third,woman,TRUE,1\r\nfemale,,0,0,7.75,Q,Third,woman,TRUE,1\r\nfemale,24,0,0,69.3,C,First,woman,TRUE,1\r\nmale,25,1,0,55.4417,C,First,man,FALSE,1\r\nmale,18,1,0,6.4958,S,Third,man,FALSE,0\r\nmale,19,0,0,8.05,S,Third,man,TRUE,0\r\nmale,22,0,0,135.6333,C,First,man,TRUE,0\r\nfemale,3,3,1,21.075,S,Third,child,FALSE,0\r\nfemale,,1,0,82.1708,C,First,woman,FALSE,1\r\nfemale,22,0,0,7.25,S,Third,woman,TRUE,1\r\nmale,27,0,2,211.5,C,First,man,FALSE,0\r\nmale,20,0,0,4.0125,C,Third,man,TRUE,0\r\nmale,19,0,0,7.775,S,Third,man,TRUE,0\r\nfemale,42,0,0,227.525,C,First,woman,TRUE,1\r\nfemale,1,0,2,15.7417,C,Third,child,FALSE,1\r\nmale,32,0,0,7.925,S,Third,man,TRUE,0\r\nfemale,35,1,0,52,S,First,woman,FALSE,1\r\nmale,,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,18,0,0,73.5,S,Second,man,TRUE,0\r\nmale,1,5,2,46.9,S,Third,child,FALSE,0\r\nfemale,36,0,0,13,S,Second,woman,TRUE,1\r\nmale,,0,0,7.7292,Q,Third,man,TRUE,0\r\nfemale,17,0,0,12,C,Second,woman,TRUE,1\r\nmale,36,1,2,120,S,First,man,FALSE,1\r\nmale,21,0,0,7.7958,S,Third,man,TRUE,1\r\nmale,28,2,0,7.925,S,Third,man,FALSE,0\r\nfemale,23,1,0,113.275,C,First,woman,FALSE,1\r\nfemale,24,0,2,16.7,S,Third,woman,FALSE,1\r\nmale,22,0,0,7.7958,S,Third,man,TRUE,0\r\nfemale,31,0,0,7.8542,S,Third,woman,TRUE,0\r\nmale,46,0,0,26,S,Second,man,TRUE,0\r\nmale,23,0,0,10.5,S,Second,man,TRUE,0\r\nfemale,28,0,0,12.65,S,Second,woman,TRUE,1\r\nmale,39,0,0,7.925,S,Third,man,TRUE,1\r\nmale,26,0,0,8.05,S,Third,man,TRUE,0\r\nfemale,21,1,0,9.825,S,Third,woman,FALSE,0\r\nmale,28,1,0,15.85,S,Third,man,FALSE,0\r\nfemale,20,0,0,8.6625,S,Third,woman,TRUE,0\r\nmale,34,1,0,21,S,Second,man,FALSE,0\r\nmale,51,0,0,7.75,S,Third,man,TRUE,0\r\nmale,3,1,1,18.75,S,Second,child,FALSE,1\r\nmale,21,0,0,7.775,S,Third,man,TRUE,0\r\nfemale,,3,1,25.4667,S,Third,woman,FALSE,0\r\nmale,,0,0,7.8958,S,Third,man,TRUE,0\r\nmale,,0,0,6.8583,Q,Third,man,TRUE,0\r\nfemale,33,1,0,90,Q,First,woman,FALSE,1\r\nmale,,0,0,0,S,Second,man,TRUE,0\r\nmale,44,0,0,7.925,S,Third,man,TRUE,1\r\nfemale,,0,0,8.05,S,Third,woman,TRUE,0\r\nfemale,34,1,1,32.5,S,Second,woman,FALSE,1\r\nfemale,18,0,2,13,S,Second,woman,FALSE,1\r\nmale,30,0,0,13,S,Second,man,TRUE,0\r\nfemale,10,0,2,24.15,S,Third,child,FALSE,0\r\nmale,,0,0,7.8958,C,Third,man,TRUE,0\r\nmale,21,0,0,7.7333,Q,Third,man,TRUE,0\r\nmale,29,0,0,7.875,S,Third,man,TRUE,0\r\nfemale,28,1,1,14.4,S,Third,woman,FALSE,0\r\nmale,18,1,1,20.2125,S,Third,man,FALSE,0\r\nmale,,0,0,7.25,S,Third,man,TRUE,0\r\nfemale,28,1,0,26,S,Second,woman,FALSE,1\r\nfemale,19,0,0,26,S,Second,woman,TRUE,1\r\nmale,,0,0,7.75,Q,Third,man,TRUE,0\r\nmale,32,0,0,8.05,S,Third,man,TRUE,1\r\nmale,28,0,0,26.55,S,First,man,TRUE,1\r\nfemale,,1,0,16.1,S,Third,woman,FALSE,1\r\nfemale,42,1,0,26,S,Second,woman,FALSE,1\r\nmale,17,0,0,7.125,S,Third,man,TRUE,0\r\nmale,50,1,0,55.9,S,First,man,FALSE,0\r\nfemale,14,1,2,120,S,First,child,FALSE,1\r\nfemale,21,2,2,34.375,S,Third,woman,FALSE,0\r\nfemale,24,2,3,18.75,S,Second,woman,FALSE,1\r\nmale,64,1,4,263,S,First,man,FALSE,0\r\nmale,31,0,0,10.5,S,Second,man,TRUE,0\r\nfemale,45,1,1,26.25,S,Second,woman,FALSE,1\r\nmale,20,0,0,9.5,S,Third,man,TRUE,0\r\nmale,25,1,0,7.775,S,Third,man,FALSE,0\r\nfemale,28,0,0,13,S,Second,woman,TRUE,1\r\nmale,,0,0,8.1125,S,Third,man,TRUE,1\r\nmale,4,0,2,81.8583,S,First,child,FALSE,1\r\nfemale,13,0,1,19.5,S,Second,child,FALSE,1\r\nmale,34,0,0,26.55,S,First,man,TRUE,1\r\nfemale,5,2,1,19.2583,C,Third,child,FALSE,1\r\nmale,52,0,0,30.5,S,First,man,TRUE,1\r\nmale,36,1,2,27.75,S,Second,man,FALSE,0\r\nmale,,1,0,19.9667,S,Third,man,FALSE,0\r\nmale,30,0,0,27.75,C,First,man,TRUE,0\r\nmale,49,1,0,89.1042,C,First,man,FALSE,1\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nmale,29,0,0,7.8958,C,Third,man,TRUE,1\r\nmale,65,0,0,26.55,S,First,man,TRUE,0\r\nfemale,,1,0,51.8625,S,First,woman,FALSE,1\r\nfemale,50,0,0,10.5,S,Second,woman,TRUE,1\r\nmale,,0,0,7.75,Q,Third,man,TRUE,0\r\nmale,48,0,0,26.55,S,First,man,TRUE,1\r\nmale,34,0,0,8.05,S,Third,man,TRUE,0\r\nmale,47,0,0,38.5,S,First,man,TRUE,0\r\nmale,48,0,0,13,S,Second,man,TRUE,0\r\nmale,,0,0,8.05,S,Third,man,TRUE,0\r\nmale,38,0,0,7.05,S,Third,man,TRUE,0\r\nmale,,0,0,0,S,Second,man,TRUE,0\r\nmale,56,0,0,26.55,S,First,man,TRUE,0\r\nmale,,0,0,7.725,Q,Third,man,TRUE,0\r\nfemale,0.75,2,1,19.2583,C,Third,child,FALSE,1\r\nmale,,0,0,7.25,S,Third,man,TRUE,0\r\nmale,38,0,0,8.6625,S,Third,man,TRUE,0\r\nfemale,33,1,2,27.75,S,Second,woman,FALSE,1\r\nfemale,23,0,0,13.7917,C,Second,woman,TRUE,1\r\nfemale,22,0,0,9.8375,S,Third,woman,TRUE,0\r\nmale,,0,0,52,S,First,man,TRUE,0\r\nmale,34,1,0,21,S,Second,man,FALSE,0\r\nmale,29,1,0,7.0458,S,Third,man,FALSE,0\r\nmale,22,0,0,7.5208,S,Third,man,TRUE,0\r\nfemale,2,0,1,12.2875,S,

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as splt

In [6]:
df=pd.read_csv('Titanic.csv')

In [7]:
df

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
1,female,38.0,1,0,71.2833,C,First,woman,False,1
2,female,26.0,0,0,7.9250,S,Third,woman,True,1
3,female,35.0,1,0,53.1000,S,First,woman,False,1
4,male,35.0,0,0,8.0500,S,Third,man,True,0
...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,S,Second,man,True,0
887,female,19.0,0,0,30.0000,S,First,woman,True,1
888,female,NaN,1,2,23.4500,S,Third,woman,False,0
889,male,26.0,0,0,30.0000,C,First,man,True,1
890,male,32.0,0,0,7.7500,Q,Third,man,True,0

**Droping Value**

In [16]:
df = df.drop(['alone'], axis = 1)

In [18]:
df.head()

      sex   age  sibsp  parch     fare embarked  class    who  survived
0    male  22.0      1      0   7.2500        S  Third    man         0
1  female  38.0      1      0  71.2833        C  First  woman         1
2  female  26.0      0      0   7.9250        S  Third  woman         1
3  female  35.0      1      0  53.1000        S  First  woman         1
4    male  35.0      0      0   8.0500        S  Third    man         0

**Checking Null Value**

In [8]:
df.isnull()

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False
888,False,True,False,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
class         0
who           0
alone         0
survived      0
dtype: int64

In [10]:
df.isnull().any()

sex         False
age          True
sibsp       False
parch       False
fare        False
embarked     True
class       False
who         False
alone       False
survived    False
dtype: bool

**Replace Null Value**

In [19]:
df['age'].fillna(df['age'].mode()[0],inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0],inplace=True)

In [15]:
df.isnull().sum()

sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
class       0
who         0
alone       0
survived    0
dtype: int64

**Label Encoding**

In [22]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df[['sex']]=df[['sex']].apply(LabelEncoder().fit_transform)
df[['embarked']]=df[['embarked']].apply(LabelEncoder().fit_transform)
df[['class']]=df[['class']].apply(LabelEncoder().fit_transform)
df[['who']]=df[['who']].apply(LabelEncoder().fit_transform)

In [23]:
df

     sex   age  sibsp  parch     fare  embarked  class  who  survived
0      1  22.0      1      0   7.2500         2      2    1         0
1      0  38.0      1      0  71.2833         0      0    2         1
2      0  26.0      0      0   7.9250         2      2    2         1
3      0  35.0      1      0  53.1000         2      0    2         1
4      1  35.0      0      0   8.0500         2      2    1         0
..   ...   ...    ...    ...      ...       ...    ...  ...       ...
886    1  27.0      0      0  13.0000         2      1    1         0
887    0  19.0      0      0  30.0000         2      0    2         1
888    0  24.0      1      2  23.4500         2      2    2         0
889    1  26.0      0      0  30.0000         0      0    1         1
890    1  32.0      0      0   7.7500         1      2    1         0

[891 rows x 9 columns]

**Select Target Attribute**

In [26]:
x = df.drop(["survived"], axis=1)
y = df["survived"]

In [30]:
x.head()

   sex   age  sibsp  parch     fare  embarked  class  who
0    1  22.0      1      0   7.2500         2      2    1
1    0  38.0      1      0  71.2833         0      0    2
2    0  26.0      0      0   7.9250         2      2    2
3    0  35.0      1      0  53.1000         2      0    2
4    1  35.0      0      0   8.0500         2      2    1

In [32]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

**Feature scaling**

In [33]:
from sklearn.preprocessing import MinMaxScaler
X = MinMaxScaler().fit_transform(X)

**Test Train Spiliting**

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=1)

In [36]:
x_test

     sex   age  sibsp  parch     fare  embarked  class  who
862    0  48.0      0      0  25.9292         2      0    2
223    1  24.0      0      0   7.8958         2      2    1
84     0  17.0      0      0  10.5000         2      1    2
680    0  24.0      0      0   8.1375         1      2    2
535    0   7.0      0      2  26.2500         2      1    0
..   ...   ...    ...    ...      ...       ...    ...  ...
506    0  33.0      0      2  26.0000         2      1    2
467    1  56.0      0      0  26.5500         2      0    1
740    1  24.0      0      0  30.0000         2      0    1
354    1  24.0      0      0   7.2250         0      2    1
449    1  52.0      0      0  30.5000         2      0    1

[223 rows x 8 columns]

In [37]:
y_test

862    1
223    0
84     1
680    0
535    1
      ..
506    1
467    0
740    1
354    0
449    1
Name: survived, Length: 223, dtype: int64

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
Rclf = RandomForestClassifier()

In [44]:
Rclf.fit(x_train, y_train)

RandomForestClassifier()

In [45]:
Rclf.score(x_test,y_test)

0.7757847533632287